.bio-sign {
  background-color: #ae5904;
  color: white;
}

.paper-sign {
  background-color: #3B5998;
  color: white;
}

.plastic-sign {
  background-color: #fbe400
}

.waste-sign {
  background-color: #0b0b0b;
  color: white;
}
