%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container
    %a.navbar-brand{:href => "#"}
      = image_tag 'logo.png'
      Garbage-Tracker
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse.pull-ight
      .navbar-nav.ml-auto
        .nav-item
          = link_to 'Login', new_user_session_path, class: 'nav-link'
